#editor-title-bar #save-status .desc, #editor-title-bar #save-status .message:not(.warning):not(.danger) {
    opacity: 0;
}

#editor-column .sn-component .sk-app-bar:not(#editor-menu-bar) {
    position: absolute;
}

.editor-content, #editor-content {
    background-color: #DDD;
}

.editor-content .editable, #editor-content .editable {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

:root {
    --sn-stylekit-base-font-size: 12px;
    --sn-stylekit-foreground-color: #333333;
    --sn-stylekit-info-color: #057aff;
}

#editor-title-bar.section-title-bar {
    padding-top: 44px;
    height: 90px;
}

#footer-bar .left .sk-app-bar-item a.title {
    display: none;
}

#footer-bar .right .sk-app-bar-item {
    display: none;
}

#footer-bar .right #lock-item.sk-app-bar-item {
    display: flex;
}
