#editor-title-bar #save-status .desc, #editor-title-bar #save-status .message:not(.warning):not(.danger) {
    opacity: 0;
}

:root {

    --sn-stylekit-base-font-size: 12px;
    --sn-stylekit-foreground-color: #333333;
    --sn-stylekit-info-color: 057aff;

}