#editor-title-bar #save-status .desc, #editor-title-bar #save-status .message:not(.warning):not(.danger) {
    opacity: 0;
}

.editor-content .editable, #editor-content .editable {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

:root {

    --sn-stylekit-base-font-size: 12px;
    --sn-stylekit-foreground-color: #333333;
    --sn-stylekit-info-color: #057aff;

}

#editor-title-bar.section-title-bar {
    padding-top: 40px;
}

#footer-bar .left .sk-app-bar-item a {
    display: none;
}

#footer-bar .right .sk-app-bar-item {
    display: none;
}

#footer-bar .right #lock-item.sk-app-bar-item {
    display: flex;
}
